#container {
    display: flex;
    justify-content: center;
    padding: 20px;


}

.result {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: bolder;
}

#round {
    display: flex;
    justify-content: center;
    margin: 5px;
    color: red;
    font-weight: 600;
}

#score {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#game {
    display: flex;
    justify-content: center;
    font-size: x-large;
}